body {
    background-color: #1e1919;
    color: white;
    margin: 0;
    
}

@font-face {
    font-family: SharpGrotesk;
    src: url("Sharp_Grotesk/SharpGrotesk-Book25.otf") format("opentype");
}

h2 {
    font-family: SharpGrotesk;
}

header {
    height: 48px;
    width: 100%;
    background-color: white;
    display: inline-flex;
    margin: auto;
    margin-left: 0;
    padding-top: 0;
    align-items: center;
    
}

.dropbox-title {
    margin-left: 10px;
    margin-top: 2px;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: #0061FE;
    justify-content: center;
}

.logo {
    height: 55%;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    display: inline;
   
}

li a {
   
    text-decoration: none;
    color: #1e1919;
    padding: 15px 14px;
    background-color: white; /* Default button background color */
   

    transition: background-color 0.5s; /* Smooth background color transition */
}

.button-translate{
    
    padding-left: 300px;
   
    
    
}

.button-translate-content{
    
   
    
}

/* Style the button when hovering over it */
a:hover {
    background-color: #c8c8c6; /* Background color on hover */
   
}


    
.page-start{
    margin-top: 3%;
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    
    
    
}
.page-start h2{
    width: 50%;
    font-size: 35px;
}
.second-subtitle{
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.second-subtitle-text{
    width: 37%;
    font-size: 15px;
    font-family:a;
    
}


.get-start-button{
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px 50px;
    
}
.get-start-button-text{

    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 25px 70px;
    background-color: #0061FE; /* Default button background color */

    
}
.get-start-button-text:hover{
    background-color: #3984FF;
}

.get-started-button{
    

    text-align: end;
    padding: 12px 10px;
    
}

.get-started-button-text{
    text-align: start;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 13px 35px;
    background-color: #0061FE; /* Default button background color */

    
}


.get-started-button-text:hover{
    background-color: #3984FF;
}
.arrow{
    height: 10%;
}

video{
    margin-left: 5%;
    width: 90%;
}



