body {
    background-color: black;
    color: white;
    margin: 0;
}

@font-face {
    font-family: SharpGrotesk;
    src: url("Sharp_Grotesk/SharpGrotesk-Book25.otf") format("opentype");
}

h2 {
    font-family: SharpGrotesk;
}

header {
    height: 48px;
    width: 100%;
    background-color: white;
    display: inline-flex;
    margin: auto;
    margin-left: 0;
    padding-top: 0;
    color: black;
    align-items: center;
}

.dropbox-title {
    margin-left: 10px;
    margin-top: 2px;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: #0061FE;
    justify-content: center;
}

.logo {
    height: 55%;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    display: inline;
   
}

a {
    text-decoration: none;
    color: black;
    padding: 15px 14px;
    background-color: white; /* Default button background color */
   

    transition: background-color 0.5s; /* Smooth background color transition */
}

/* Style the button when hovering over it */
a:hover {
    background-color: #c8c8c6; /* Background color on hover */
   
}






